/*
html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    display: block;
    margin: 0px;
    font-family: 'Lato';
    background-color: #241;
}

.header-area {
    position: absolute;
    top: 0;
    z-index: 241;
    width: 100%;
    background: transparent;
    transition: 0.3s;
    padding: 30px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-left,
.header-right {
    display: flex;
}

.menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0px 30px;
}

.menu>li:last-child {
    margin-right: 0px;
}

.menu>li {
    margin: 0px 15px;
    list-style-type: none;
}

.menu>li>a {
    color: #fff;
    text-decoration: none;
}

.btn-contact {
    border: 2px solid aliceblue;
    border-radius: 3px;
}

.imglogo {
    width: 48px;
}


*/


/*
 * Globals
 */


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}

.btn-outline-purple {
    color: var(--bs-light);
    border-color: #a279b6;
}

.btn-outline-purple:hover {
    transform: translateY(-2px);
    background-color: #a279b6;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.36, 1);
}


/*
 * Base structure
 */

html {
    overflow-x: hidden;
}

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    background-color: var(--bs-dark);
    color: var(--bs-light);
    font-family: 'Montserrat';
}

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}


/*
 * Page elements
 */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.logo-img {
    width: 48px;
}