/*
 * Globals
 */


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}

.btn-outline-purple {
    color: var(--bs-light);
    border-color: #a279b6;
}

.btn-outline-purple:hover {
    transform: translateY(-2px);
    background-color: #a279b6;
    color: #fff;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.36, 1);
}


/*
 * Base structure
 */

html {
    overflow-x: hidden;
}

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    background-color: var(--bs-dark);
    color: var(--bs-light);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */

header,
div,
nav,
ul,
img,
body {
    transition: all 0.2s;
}

.nav-link {
    padding: .25rem 0;
    font-weight: 200;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
}

.nav-link+.nav-link {
    margin-left: 1rem;
}

.active {
    color: var(--bs-blue);
    border-bottom-color: var(--bs-blue);
}


/*
 * Page elements
 */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.logo-img {
    width: 48px;
}

.pt-header {
    padding-top: 60px;
}

.pt-footer {
    padding-bottom: 80px;
}

.timeline {
    color: blue;
    text-align: center;
}

.mask {
    position: absolute;
    width: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.title-container {
    display: flex;
    flex-direction: column;
    z-index: 1
}

.title-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    margin-top: 350px;
}

.learn-more {
    margin-top: 250px;
}

img.learn-more-arrow {
    width: 70px;
    height: auto;
}

.contact-us-form {
    margin-left: 10px;
    margin-right: 10px;
}

.contact-us-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-us-inner-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 650px;
    color: #909090;
    padding-top: 40px;
    margin-top: 105px;
    border-radius: 10px;
    box-shadow: 0 0 20px #C8C8C8;
    font-family: 'Montserrat', sans-serif;

}

.contact-us-title {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 100;
}

.form-font {
    font-weight: 500;
    font-size: 12px;
    text-shadow: none;
}

.contact-input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-shadow: none;
}

.input-label {
    margin-bottom: 5px;
}

form .mb-3 .form-group .form-control {
    color: #555555;
    font-weight: 400;
}

form .mb-3 .form-group .form-control::placeholder {
    color: #555555;
    font-weight: 100;
}

.contact-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}

.contact-submit-button {
    margin-top: 20px;
    background-color: black;
}

.bg-purple {
    background-color: #a279b6!important;
}

.bg-black {
    background-color: #000000!important;
}

.bg-secondary {
    background-color: #6c757d!important;
}

.bg-success {
    background-color: #198754!important
}

.bg-info {
    background-color: #0dcaf0!important
}

.bg-warning {
    background-color: #ffc107!important
}

.bg-danger {
    background-color: #dc3545!important
}

.bg-light {
    background-color: #f8f9fa!important
}

.bg-dark {
    background-color: #212529!important
}

.bg-body {
    background-color: #fff!important
}

.bg-white {
    background-color: #fff!important
}

.bg-avery241 {
    background-color: #F1F1F1
}

.bg-transparent {
    background-color: transparent!important
}

.bg-gradient {
    background-image: var(--bs-gradient)!important
}